.list_address {
  width: 75%;
  background-color: #ffffff;
  color: #15181a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, border 0.3s, box-shadow 0.2s;
}

.adress {
  font-size: 17px;
  font-weight: 600;
  margin-block-end: 10px;
}

.list_address:hover {
  background-color: #f3f3f3;
  border: 1px solid blue;
  
}

.list_address:active {
  background-color: #ffffff;
  border: 1px solid rgb(107, 107, 107);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.active {
  border: 2px solid #007bff;
  animation: blink-bg 1s ease-in-out;
}

@keyframes blink-bg {
  0% { background-color: #ffffff; }
  50% { background-color: #f0f0f0; }
  100% { background-color: #ffffff; }
}

.address_head {
  font-size: 18px;
  font-weight: 600;
  margin-block-end: 15px;
}

.list_tel {
  width: 35%;
  text-decoration: none;
}

.add_information {
  width: 90%;
  color: #595959;
}